@CHARSET "UTF-8";

.error-input {
	border-color: #ff0000;
	background-color: #ff0000;
	margin-left: 5px;
}

.error-messages {
	color: #ff0000;
}

/* ▼▼ 追加 ▼▼ */

.sorrryimg{
	width: 40%;
	height: 40%;
	float: left;
}

.httpResponseContents{
	display: flex;
	text-align:center;

}

.httpResponseContent{
	padding-top: 100px;
}


