@CHARSET "UTF-8";

.error-input {
	border-color: #ff0000;
	background-color: #ff0000;
	margin-left: 5px;
}

.error-messages {
	color: #ff0000;
}


.serchByNameForm{
	padding: 0 0 30px 0;
}

.serchByNameFormHeder{
	font-size:18px;
	font-weight: bold;
}

.serchByNameResult{
	display: none;
}

